<link href="css/main.css" rel="stylesheet" type="text/css" media="screen">

<header>
<div id="logo">
	<h1>Movie Logo</h1>
</div>

<div id="menu">
	<ul>
		<li><a>Home</a></li>
		<li><a>About</a></li>
		<li><a>Contact</a></li>
		<li><a>Kids</a></li>
	</ul>
</div>
</header>

<!-- this is the content that connects to the "data" var that we get on index.js -->
<!-- that gets the data like the name of the movie, the movie description, and places it inside the squiggly brackets. -->
<div id="moviecontent">
{{#each data}}
<div class="conbox">
	<div class="imgbox">
	</div>
	<h2>{{movie_title}}</h2>
	<p>
		{{movie_description}}
	</p>
</div>
{{/each}}

{{!-- <div class="conbox">
	<div class="imgbox">
	</div>
	<h2>Movie Name</h2>
	<p>Movie Description goes here and here and here. here and here and here. here and here and here.</p>
</div>

<div class="conbox">
	<div class="imgbox">
	</div>
	<h2>Movie Name</h2>
	<p>Movie Description goes here and here and here. here and here and here. here and here and here.</p>
</div>

<div class="conbox">
	<div class="imgbox">
	</div>
	<h2>Movie Name</h2>
	<p>Movie Description goes here and here and here. here and here and here. here and here and here.</p>
</div>

<div class="conbox">
	<div class="imgbox">
	</div>
	<h2>Movie Name</h2>
	<p>Movie Description goes here and here and here. here and here and here. here and here and here.</p>
</div>

<div class="conbox">
	<div class="imgbox">
	</div>
	<h2>Movie Name</h2>
	<p>Movie Description goes here and here and here. here and here and here. here and here and here.</p>
</div>

<div class="conbox">
	<div class="imgbox">
	</div>
	<h2>Movie Name</h2>
	<p>Movie Description goes here and here and here. here and here and here. here and here and here.</p>
</div>

<div class="conbox">
	<div class="imgbox">
	</div>
	<h2>Movie Name</h2>
	<p>Movie Description goes here and here and here. here and here and here. here and here and here.</p>
</div>

<div class="conbox">
	<div class="imgbox">
	</div>
	<h2>Movie Name</h2>
	<p>Movie Description goes here and here and here. here and here and here. here and here and here.</p>
</div>

<div class="conbox">
	<div class="imgbox">
	</div>
	<h2>Movie Name</h2>
	<p>Movie Description goes here and here and here. here and here and here. here and here and here.</p>
</div> --}}

</div>


<footer>
	<ul>
		<li><a>Home</a></li>
		<li><a>About</a></li>
		<li><a>Contact</a></li>
		<li><a>Kids</a></li>
	</ul>
</footer>
